In [7]:
import pandas as pd

# Read the Parquet file
df = pd.read_parquet(r'data\latest.parquet', engine='pyarrow')  # Or 'fastparquet'

# Display the DataFrame
df

,coin_id,price_usd,market_cap_usd,volume_24h_usd,timestamp
0,bitcoin,93599.00000,1.856065e+12,5.193829e+10,2024-12-30 17:58:25.879541
1,cardano,0.86054,3.085873e+10,9.709757e+08,2024-12-30 17:58:25.879541
2,ethereum,3380.59000,4.075248e+11,2.304587e+10,2024-12-30 17:58:25.879541
3,polkadot,6.77000,1.030904e+10,3.237098e+08,2024-12-30 17:58:25.879541
4,solana,191.03000,9.166343e+10,3.543238e+09,2024-12-30 17:58:25.879541